@charset "UTF-8";

/* em HTML é id = em CSS é # (só pode um elemento, por página)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: #A0F0B6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1e6120;
}
h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2 {
    color: #336142;
}
.basico {
    color: green;
    font-weight: bold;

}
.intermediario{
    color: rgb(160, 160, 0);
}
.avancado{
    color: rgb(255, 66, 66);
}
.destaque {
    background-color: rgb(199, 199, 110);
}