@charset "utf8";
body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;}
h1 { 
    color: maroon;
    background-color: rgb(228, 187, 83);
}
h2{
    color: darkred;
}
p {
    text-align: justify;
}