@charset "UTF-8";
* { font-family: Arial, Helvetica, sans-serif;}
body{background-image: linear-gradient(to right, #D6EBFF, #88C5FF);}
main 
    {border-radius: 10px;
    background-color: white; 
    box-shadow: 5px 5px 3px #45637f6c;
    width: 600px;
    padding: 10px;
    margin: auto;}
    
h1 {color: #45637F;
text-align: center;
text-shadow: 1px 1px 0px #43627e6b;}
h2 {color: #6A757F;}
p  {text-align: justify;}
